
.Image {
  position: relative;
  top: -20px;
  left: 50px;
  padding: 10px;
}
input {
  margin-bottom: 5px;
}
img {
  max-width: 30vw;
  margin-right: 50px;
  height: auto;
}
p {
  width: 50vw;
}
.displayflex {
  display: flex;
}






/* main 페이지의 css에서 가져옴 + 번역된 textareaBox는 새로 작성할 필요가 있어 작성함 */
.mainlayout {
  margin: 300px 200px;
  width: 1100px;
  height: 1400px;
  background-color: transparent;
}


.translateBox {
  position: absolute;
  width: 800px;
  height: 280px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-color: rgb(132, 132, 132);
  border-radius: 30px;
  border-style: solid;
  background-color: transparent;
}

.inputField {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 421px;
  height: 280px;
  border-color: rgb(9, 47, 72);
  border-radius: 30px;
  border-style: solid;
  background-color: transparent;
  text-align: center;
}

.outputbox {
  position: absolute;
  width: 421px;
  height: 280px;
  top: 30px;
  left: 550px;
  border-color: rgb(132, 132, 132);
  border-radius: 30px;
  border-style: solid;
  background-color: transparent;
  text-align: center;
}



.blank0{
  margin: 100px 50px;
  width: 1100px;
  height: 300px;
}

.blank1 {
  position: absolute;
  top: 700px;
  left: 0px;
}

.blank2 {
  position: absolute;
  top: 900px;
  left: -10px;
  width: 1000px;
  height: 10px;
}

.blank3 {
  position: absolute;
  top: 1300px;
  left: -10px;
  width: 1000px;
  height: 10px;
}

/*  */

.textposition1 {
  position: relative;
  top:20px;
  left:50px;
}

.textposition2 {
  position: relative;
  top:79px;
  left:1000px;
}

.textposition3 {
  position: relative;
  top: 20px;
  left:120px;
}

.button {
  position: relative;
  top: -10px;
  left: 900px;
  width: 100px;
  height: 40px;
  background-color: rgb(26, 80, 139);
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; /* 커서를 포인터로 변경하여 사용자가 버튼처럼 느끼게 함 */
}

.button2 {
  position: relative;
  top: -50px;
  left: 780px;
  width: 100px;
  height: 40px;
  background-color: rgb(26, 80, 139);
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; /* 커서를 포인터로 변경하여 사용자가 버튼처럼 느끼게 함 */
}

.inputfilebutton{
  position: relative;
  left: 10px;
  width: 134px;
  height: 40px;
  background-color: rgb(26, 80, 139);
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; /* 커서를 포인터로 변경하여 사용자가 버튼처럼 느끼게 함 */
  z-index: 1; /* 버튼의 층위를 설정하여 버튼이 다른 요소들보다 위에 표시되도록 함 */
}

.outputbox {
  width: 450px;
  height: 300px;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 20px;
  text-align: 30px;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgb(33, 61, 92)
  
}

.outputField {
  width: 380px;
  height: 280px;
  font-size: 18px;
  font-weight: 200;
  display: inline-block;
  line-height : 25px;
  margin-top: 8px;
  margin-left: 7px;
}

.folderimg{
  width: 50px;
  position: absolute;
  left: -50px;
  top: -5px;
  z-index: 2; /* 이미지의 층위를 설정하여 버튼보다 더 위에 표시되도록 함 */
}

.resultBox {
  margin: 0px auto;
  width: 1100px;
  height: 110px;
  border-bottom: 2px solid rgb(160, 160, 160);
}

h4 {margin: 10px 10px;}
h2 {margin: 10px 10px; width: 500px; display: inline-block;}

.button2_1{
  margin: 3px 5px 3px 310px;
  width: 120px;
  height: 40px;
  background-color: rgb(26, 80, 139);
  color: white;
  border: none;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.button2_2{
  margin: 3px 5px;
  width: 120px;
  height: 40px;
  background-color: rgb(26, 80, 139);
  color: white;
  border: none;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.morphemeBox{
  width: 1100px;
  height: 600px;
  background-color: rgba(115, 195, 251, 0.19);
  border-bottom: 2px solid rgb(160, 160, 160);
}

.outputbox2 {
  width: 500px;
  height: 550px;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 20px;
  text-align: 30px;
  background-color: rgba(255, 255, 255, 0);
  
}

.translatedBox{
  margin: 100px 50px;
  width: 1100px;
  height: 500px;
}

.arrowimg{
    width: 64px;
    position: absolute;
    left: 500px;
    top: 180px;
}
