.Image {
  margin-top: 50px;
  margin-left: 50px;
  padding: 10px;
}
input {
  margin-bottom: 5px;
}

p {
  width: 50vw;
}
.displayflex {
  display: flex;
}

/* main 페이지의 css에서 가져옴 + 번역된 textareaBox는 새로 작성할 필요가 있어 작성함 */
.mainlayout {
  margin: 500px 200px;
  width: 1100px;
  height: 1400px;
  background-color: transparent;
}

.translatedBox{
  margin: 100px 50px;
  width: 1100px;
  height: 500px;
}

.left{
  width: 410px;
  margin-right: 50px;
  display: inline-block;
}

.right{
  width: 410px;
  margin-left: 0px;
  display: inline-block;
}

.inputField {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 421px;
  height: 280px;
  border-color: rgb(9, 47, 72);
  border-radius: 30px;
  border-style: solid;
  background-color: transparent;
  text-align: center;
}

.outputbox {
  
  width: 421px;
  height: 280px;
  border-color: rgb(132, 132, 132);
  border-radius: 30px;
  border-style: solid;
  background-color: transparent;
  text-align: center;
}


/*  */

.textposition1 {
  margin: 0px 50px;
  width: 400px;
  height: 310px;
  display: inline-block;
}

.textposition2 {
  position: relative;
  top: 79px;
  left: 1000px;
}

.textposition3 {
  margin: 0px 100px;
  width: 1100px;
  height: 50px;
}

.button {
  position: relative;
  top: -10px;
  left: 900px;
  width: 100px;
  height: 40px;
  background-color: rgb(26, 80, 139);
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; /* 커서를 포인터로 변경하여 사용자가 버튼처럼 느끼게 함 */
}



h2 {margin: 10px 10px; width: 500px; display: inline-block;}

.container {
  margin-top: -250px;
  display: flex;
  flex-direction: row; /* 세로로 정렬하려면 row 대신 column */
  align-items: center; /* 수직 중앙 정렬 */
}

.inputfilebutton {
  margin: 0px 140px;
  width: 134px;
  height: 40px;
  background-color: rgb(26, 80, 139);
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; /* 커서를 포인터로 변경하여 사용자가 버튼처럼 느끼게 함 */
   /* 버튼의 층위를 설정하여 버튼이 다른 요소들보다 위에 표시되도록 함 */
}

.folderimg {
  margin: 0px -330px;
  width: 50px;
  display: flex; /* 이미지의 층위를 설정하여 버튼보다 더 위에 표시되도록 함 */
}

.container2 {
  margin-top: -420px;
  margin-left: 700px;
  display: flex;
  flex-direction: column; /* 세로로 정렬하려면 row 대신 column */
 /* 수직 중앙 정렬 */
}

.button2 {
  margin: 10px 320px;
  width: 100px;
  height: 40px;
  background-color: rgb(26, 80, 139);
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; /* 커서를 포인터로 변경하여 사용자가 버튼처럼 느끼게 함 */
}

.outputbox {
  margin: 0px 0px;
  width: 450px;
  height: 300px;
  font-size: 18px;
  font-weight: 200;
  text-align: left;
  display: inline-block;
  line-height : 25px;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgb(33, 61, 92);
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.outputbox::-webkit-scrollbar {
  display: none;
}

.outputField {
  width: 380px;
  height: 280px;
  font-size: 18px;
  font-weight: 200;
  display: inline-block;
  line-height: 25px;
  margin-top: 8px;
  margin-left: 7px;
  overflow: auto;
}



.ocrimg {
  max-width: 400px;
  margin-right: 50px;
  margin-top: 50px;
  height: auto;
  background: transparent;
  min-height: 300px;
}

.container3 {
  margin-top: 200px;
}

.resultBox {
  margin: 0px auto;
  width: 1100px;
  height: 80px;
  border-bottom: 2px solid rgb(160, 160, 160);
}

h4 {
  margin: 10px 10px;
}


.button2_1 {
  margin: 3px 5px 3px 310px;
  width: 120px;
  height: 40px;
  background-color: rgb(26, 80, 139);
  color: white;
  border: none;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.button2_2 {
  margin: 3px 5px;
  width: 120px;
  height: 40px;
  background-color: rgb(26, 80, 139);
  color: white;
  border: none;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.button2_3 {
  margin: -30px 5px 3px 900px;
  width: 120px;
  height: 40px;
  background-color: rgb(26, 80, 139);
  color: white;
  border: none;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .morphemeBox {
  width: 1100px;
  height: 600px;
  background-color: rgba(115, 195, 251, 0.19);
  border-bottom: 2px solid rgb(160, 160, 160);
}

.outputbox2 {
  width: 1100px;
  height: 550px;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 20px;
  text-align: 30px;
  background-color: rgba(255, 255, 255, 0);
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.outputbox2::-webkit-scrollbar {
  display: none;
} */

/* ------------------------------ */

.morphemeBox {
  width: 1100px;
  background-color: rgba(115, 195, 251, 0.19);
  border-bottom: 2px solid rgb(160, 160, 160);
  overflow-y: auto;
}

.morphemeBox::-webkit-scrollbar {
  display: none;
}

.outputbox2 {
  width: 1100px;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 20px;
  text-align: 30px;
  background-color: rgba(255, 255, 255, 0);
}

/* ---------------------------- */

.translatedBox {
  margin: 100px 50px;
  width: 1100px;
  height: 500px;
}

.arrow{
  background-image: url("./img/arrow.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 720px;
  left: 720px;
}
