
.mainlayout {
  margin: 300px 200px;
  width: 1100px;
  height: 1400px;
  background-color: transparent;
}

.translatedBox{
  margin: 100px 50px;
  width: 1100px;
  height: 500px;
}

.left{
  width: 410px;
  margin-right: 50px;
  display: inline-block;
}

.right{
  width: 410px;
  margin-left: 50px;
  display: inline-block;
}

.textlayout {
  width: 900px;
  height: 400px;
  background-color: transparent;
}

.inputField {
  width: 380px;
  height: 240px;
  font-size: 18px;
  font-weight: 200;
  display: inline-block;
  line-height : 25px;
  margin-top: 14px;
  margin-left: 7px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.inputField::-webkit-scrollbar{
  display: none;
}

.outputField {
  width: 380px;
  height: 280px;
  font-size: 18px;
  font-weight: 200;
  display: inline-block;
  line-height : 25px;
  margin-top: 8px;
  margin-left: 7px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.outputField::-webkit-scrollbar{
  display: none;
}

.textposition1 {
  width: 400px;
  height: 310px;
  border-color:  rgb(167, 167, 167);
  border-radius: 30px;
  border-style: solid;
  display: inline-block;
}

.textposition1:focus-within{
  border-color: rgb(33, 61, 92);
}

.textposition2 {
  width: 400px;
  height: 310px;
  border-color:  rgb(167, 167, 167);
  border-radius: 30px;
  border-style: solid;
  display: inline-block;
}

.textposition2:focus-within{
  border-color: rgb(33, 61, 92);
}

.button {
  width: 95px;
  height: 35px;
  background-color: rgb(26, 80, 139);
  color: white;
  border: none;
  border-radius: 10px;
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: 5px 5px 7px 285px;
  cursor: pointer; /* 커서를 포인터로 변경하여 사용자가 버튼처럼 느끼게 함 */
}

.blank0 {
  width: 290px;
  height: 10px;
}

.resultBox {
  margin: 0px auto;
  width: 1100px;
  height: 80px;
  border-bottom: 2px solid rgb(160, 160, 160);
}


.wordSave{
  width: 1030px;
  height: 500px;
  margin: 100px 0px;
  display: block;
}


.arrow{
  background-image: url("./img/arrow.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: 100px 0px;
}

textarea {
  border: none;
  outline: none;
  resize: none;
  overflow: hidden;
}

.morphemeBox{
  width: 1100px;
  background-color: rgba(115, 195, 251, 0.19);
  border-bottom: 2px solid rgb(160, 160, 160);
  overflow-y: auto;
}

.morphemeBox::-webkit-scrollbar{
  display: none;
}

.outputbox {
  width: 1100px;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 20px;
  text-align: 30px;
  background-color: rgba(255, 255, 255, 0);
}




h4 {margin: 10px 10px;}
h2 {margin: 10px 10px; width: 500px; display: inline-block;}
hr {margin: 0px 0px;}


.button2_1{
  margin: 3px 5px 3px 310px;
  width: 120px;
  height: 40px;
  background-color: rgb(26, 80, 139);
  color: white;
  border: none;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.button2_2{
  margin: 3px 5px;
  width: 120px;
  height: 40px;
  background-color: rgb(26, 80, 139);
  color: white;
  border: none;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.button2_3 {
  margin: -30px 5px 3px 900px;
  width: 120px;
  height: 40px;
  background-color: rgb(26, 80, 139);
  color: white;
  border: none;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* 
.main {
  position: relative;
  top:0px;
  left:0px;
  width:2349px;
  height:2330px;
}
.mainlayout {
  position: relative;
  top: 220px;
  left: 250px;
  width: 1030px;
  height: 320px;
  background-color: transparent;
}

.textlayout {
  position: relative;
  top:500px;
  left:250px;
  width: 1030px;
  height: 500px;
  background-color: transparent;
}


.inputField {
  position: absolute;
  top: 70px;
  left: 0px;
  width: 421px;
  height: 280px;
  border-color: rgb(9, 47, 72);
  border-radius: 30px;
  border-style: solid;
  background-color: transparent;
  text-align: center;
}


.outputbox {
  position: absolute;
  width: 421px;
  height: 280px;
  top: 70px;
  left: 550px;
  border-color: rgb(132, 132, 132);
  border-radius: 30px;
  border-style: solid;
  background-color: transparent;
  text-align: center;
}

.arrow1 {
  position: absolute;
  top:200px;
  left:440px;
  content: '';
  display:inline-block;
  width: 2.0rem;
  height: 2.0rem;
  margin-left: 0.5rem;
  border-top: 0.1rem solid #333;
  border-right: 0.1rem solid #333;
  transform: rotate(45deg);
}

.arrow2 {
  position: absolute;
  top:200px;
  left:450px;
  content: '';
  display:inline-block;
  width: 2.0rem;
  height: 2.0rem;
  margin-left: 0.5rem;
  border-top: 0.1rem solid #333;
  border-right: 0.1rem solid #333;
  transform: rotate(45deg);
}

.arrow2 {
  position: absolute;
  top:200px;
  left:450px;
  content: '';
  display:inline-block;
  width: 2.0rem;
  height: 2.0rem;
  margin-left: 0.5rem;
  border-top: 0.1rem solid #333;
  border-right: 0.1rem solid #333;
  transform: rotate(45deg);
}

.textposition1 {
  position: absolute;
  top:10px;
  left:0px;
}

.textposition2 {
  position: absolute;
  top:10px;
  left:550px;
}

.button {
  position: absolute;
  top: 300px;
  left: 300px;
  width: 100px;
  height: 40px;
  background-color: rgb(26, 80, 139);
  color: white;
  border: none;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blank0 {
  position: absolute;
  top: 280px;
  left: 18px;
  width: 390px;
  height: 10px;
}

.blank1 {
  position: absolute;
  top: 500px;
  left: 0px;
}

.blank2 {
  position: absolute;
  top: 600px;
  left: -10px;
  width: 1000px;
  height: 10px;
}

.blank3 {
  position: absolute;
  top: 1300px;
  left: -10px;
  width: 1000px;
  height: 10px;
}

.blank4 {
  position: absolute;
  top: 1500px;
  left: 0px;
}

.blank5{
  position: absolute;
  top: 1540px;
  left: -10px;
  width: 1000px;
  height: 10;
}

.button2_1 {
  position: absolute;
  top:60px;
  left: 720px;
  width: 120px;
  height: 40px;
  background-color: rgb(26, 80, 139);
  color: white;
  border: none;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button2_2 {
  position: absolute;
  top:60px;
  left: 850px;
  width: 120px;
  height: 40px;
  background-color: rgb(26, 80, 139);
  color: white;
  border: none;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button3 {
  position: absolute;
  top: 310px;
  left: 400px;
  width: 100px;
  height: 40px;
  background-color: rgb(26, 80, 139);
  color: white;
  border: none;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
} */