.Papago2 {
    padding: 20px
  }
  
  textarea {
    width: 100%;
    height: 200px;
    resize: none;
  
    margin:auto;
    display:block;
  }
  
  button {
    margin:auto;
    display:block;
  }
  
  .result{
    text-align:left;
  }